# mvn files
target/*

# live run
*liverun/*

# any logs or testings
*logs.txt
*testing
testing/

# python files/dirs
__pycache__
*.pyc

# private files
*private*
*.tmp
*.bak

# any compiled/compressed files
*.tar
*.gz

# docs
docs/build
